<md-toolbar layout="row" layout-align="start center" class="md-whiteframe-z1 navbar">
  <a ui-sref="projects" title="Developer Console Projects">
    <img class="navbar-logo" src="assets/images/logo-color.svg" alt="gcloud">
  </a>
  <md-menu layout="column" class="navbar-project-selector">
    <md-button ng-click="$mdOpenMenu($event)">
      {{navbar.selectedProject}}
      <md-icon class="material-icons">arrow_drop_down</md-icon>
    </md-button>
    <md-menu-content width="3">
      <md-menu-item ng-repeat="option in navbar.projects">
        <md-button ui-sref="project({ projectId: option.projectId })" class="navbar-project-link">
          {{option.name}}
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
  <span flex></span>
  <md-button class="md-icon-button">
    <md-tooltip>Settings</md-tooltip>
    <md-icon>settings</md-icon>
  </md-button>
  <md-menu layout="column">
    <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Open user actions menu">
      <img class="navbar-user-icon" ng-src="{{navbar.user.picture}}">
    </md-button>
    <md-menu-content>
      <md-menu-item>
        <md-button ng-click="navbar.logout()">Sign out</md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</md-toolbar>
