.navbar {
  &-user-icon {
    width: 100%;
    height: auto;
  }

  &-logo {
    height: 40px;
    margin-right: 8px;
  }

  &-project-selector {
    font-size: 14px;
    margin: 0;

    span {
      text-transform: none;
    }
  }

  &-project-link {
    line-height: 48px;
  }

  @media (min-width: $md) {
    padding: 0 24px;

    &-sidemenu-button {
      display: none;
    }
  }

  @media (max-width: $md) {
    &-logo {
      display: none;
    }
  }
}
