.storage-browser-filter,
.storage-browser-filter .md-input {
  display: inline;
}

.storage-browser-table {
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 13px;
  width: 100%;
}

.storage-browser-table thead {
  padding-bottom: 3px;
}

.storage-browser-table th {
  position: relative;
  vertical-align: bottom;
  text-overflow: ellipsis;
  text-align: right;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  height: 48px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  box-sizing: border-box;
  padding: 0 18px 8px 18px;
}

.storage-browser-table tbody tr {
  position: relative;
  height: 48px;
  transition: background-color 0.28s cubic-bezier(0.4,0,0.2,1);
}

.storage-browser-table tbody tr:hover {
  background-color: #eee;
}

.storage-browser-table td {
  position: relative;
  vertical-align: top;
  text-align: right;
  color: rgb(117, 117, 117);
  height: 48px;
  border-top: 1px solid rgba(0,0,0,0.12);
  border-bottom: 1px solid rgba(0,0,0,0.12);
  padding: 12px 18px 0;
  box-sizing: border-box;
  font-weight: normal;
}

.storage-browser-table td:first-of-type,
.storage-browser-table th:first-of-type {
  padding-left: 24px;
}

.storage-browser-table .lefty {
  text-align: left;
}
