<md-content flex layout-padding class="md-whiteframe-z1">
  <md-subheader>
    <md-button class="md-raised md-accent" ng-click="plugin.createBucket()">Create bucket</md-button>
    <md-button class="md-icon-button" aria-lable="Refresh" ng-click="plugin.refresh()">
      <md-tooltip>Refresh</md-tooltip>
      <md-icon>refresh</md-icon>
    </md-button>
    <span flex></span>
    <md-input-container md-no-float class="storage-browser-filter">
      <input type="text" placeholder="Filter" ng-model="plugin.filter">
    </md-input-container>
  </md-subheader>
  <table class="storage-browser-table">
    <thead>
      <tr>
        <th class="lefty">Name</th>
        <th class="lefty">Storage class</th>
        <th class="lefty">Location</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="bucket in plugin.buckets | filter:{name: plugin.filter}">
        <td class="lefty">{{bucket.name}}</td>
        <td class="lefty">{{bucket.storageClass}}</td>
        <td class="lefty">{{bucket.location}}</td>
      </tr>
    </tbody>
  </table>
</md-content>
