<md-dialog aria-label="Bucket dialog" flex="33">
  <md-dialog-content>
    <h2>Create Bucket</h2>
    <md-input-container>
      <label>Name</label>
      <input type="text" ng-model="dialog.name" required>
    </md-input-container>
    <md-input-container>
      <label>Storage class</label>
      <md-select ng-model="dialog.storageClass">
        <md-option value="false">Standard</md-option>
        <md-option value="DURABLE_REDUCED_AVAILABILITY">Durable Reduced Availability</md-option>
        <md-option value="NEARLINE">Nearline</md-option>
      </md-select>
    </md-input-container>
    <md-input-container>
      <label>Location</label>
      <md-select ng-model="dialog.location">
        <md-option value="US">United States</md-option>
        <md-option value="ASIA">Asia</md-option>
        <md-option value="EU">European Union</md-option>
      </md-select>
    </md-input-container>
  </md-dialog-content>
  <div class="md-actions">
    <md-button class="md-raised md-accent" ng-click="dialog.createBucket()" ng-disabled="!dialog.name">Create</md-button>
    <md-button ng-click="dialog.close()">Cancel</md-button>
  </div>
</md-dialog>
