.dashboard-nav {
  background-color: rgb(250, 250, 250) !important;
}

.dashboard-nav-item,
.dashboard-nav-item .md-list-item-inner {
  min-height: 48px;
}

.dashboard-nav-item {
  padding: 0 !important;
}

.dashboard-nav-item .md-list-item-inner {
  padding: 0 16px;
}

.dashboard-nav-item-header {
  color: rgba(0,0,0,0.54);
}

.dashboard-nav-item-header ~ .dashboard-nav-item .md-list-item-inner {
  padding-left: 32px;
}

.dashboard-nav a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    background-color: rgba(158, 158, 158, 0.2);
  }
}

.dashboard-nav md-icon {
  margin-left: 0;
}
