<!-- dashboard nav -->
<sidenav class="dashboard-nav">
  <md-list>
    <md-list-item class="dashboard-nav-item">
      <md-input-container class="dashboard-picker md-list-item-inner" flex>
        <md-select
          ng-model="$dashboard.$dataRef.name"
          placeholder="Select a Dashboard"
          flex>
          <md-option
            ng-repeat="(dashId, dashData) in $project.dashboards.$data"
            ng-value="dashData.name"
            ui-sref="dashboard({ dashboardId: dashId })">
            {{dashData.name}}
          </md-option>
        </md-select>
      </md-input-container>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item
      ng-repeat="(pluginId, plugin) in $dashboard.$dataRef.plugins | orderBy:'title' track by plugin.title"
      class="dashboard-nav-item md-with-secondary">
      <sidenav-link ui-sref="plugin({ pluginId: pluginId })">
        <md-icon>extension</md-icon>
        {{plugin.title}}
      </sidenav-link>
      <md-menu class="plugin-menu">
        <md-button
          class="md-icon-button md-secondary-container"
          ng-click="$mdOpenMenu($event)">
          <md-icon>more_vert</md-icon>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item ng-click="dashboard.configure(pluginId, plugin, true)">
            <md-button>
              <md-icon>settings</md-icon>
              Settings
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="dashboard.clone(pluginId, plugin)">
              <md-icon>content_copy</md-icon>
              Clone
            </md-button>
          </md-menu-item>
          <md-divider></md-divider>
          <md-menu-item>
            <md-button ng-click="dashboard.remove(pluginId, plugin)">
              <md-icon>delete</md-icon>
              Delete
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-list-item>
    <md-list-item class="dashboard-nav-item">
      <sidenav-link ui-sref="plugins">
        <md-icon>add</md-icon>
        Add plugins
      </sidenav-link>
    </md-list-item>
  </md-list>
</sidenav>

<!-- plugin content -->
<div layout="column" flex ui-view></div>
