<md-dialog flex="30">
  <md-dialog-content>
    <h2>{{vm.plugin.title}}</h2>
    <form name="pluginForm">
      <md-input-container>
        <label>Name</label>
        <input type="text" ng-model="vm.plugin.title">
      </md-input-container>
      <md-input-container ng-repeat="param in vm.plugin.params">
        <label>{{param.name}}</label>
        <input type="text" ng-if="param.type === 'input'" ng-value="vm.plugin[param.key]" ng-model="vm.plugin[param.key]">
      </md-input-container>
    </form>
  </md-dialog-content>
  <div class="md-actions">
    <md-button ng-click="vm.save()">Save</md-button>
    <md-button ng-click="vm.close()">Cancel</md-button>
  </div>
</md-dialog>
